body{
    padding:0; margin: 0;
    background-color: @color-medium;
}


.app-container{

    background-color: @color-medium;
    width: 80%;
    display: flex;
    justify-content: space-around;

    .box{
        .box-size(100px);
        background-color: @color-dark;
    }

}